<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="6.3.0-alpha0080" targetFramework="net46" />
  <package id="NServiceBus.AcceptanceTesting" version="6.3.0-alpha0080" targetFramework="net46" />
  <package id="NServiceBus.Raw" version="0.2.1" targetFramework="net46" />
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
  <package id="ServiceControl.Plugin.Nsb6.Heartbeat" version="2.0.0" targetFramework="net46" />
</packages>